bot:
  token: <your bot token>
  channel:
    verify-channel-name: verify
    member-updates-channel: member-updates
    enter-confession-channel: enter-confessions-here
    sent-confessions-channel: secrets
  commands:
    verify-command: $verify
    confess-command: $confessions
    prefix: ;
  category:
    welcome-category: information
    member-updates-category: member-updates
    create-confessions-category: confessions
